<%= render 'form', url: shuffle_lists_url, method: 'POST', title: '新規作成する' %>

<!--TODO: シャッフルリスト名検索-->
<% if @shuffle_lists %>
    <div class="card-columns">
        <% @shuffle_lists.each do |list| %>
            <div class="card">
                <div class="card-body">
                    <div style="text-align: right;margin-top: -15px;margin-right: -10px;">
                        <%= link_to execute_path(id: list.id), method: :post, data: { confirm: "シャッフルしますか？" }, class: "btn" do %>
                            <i class="fa fa-random text-secondary" aria-hidden="true"></i>
                        <% end %>
                        <%= link_to edit_shuffle_list_path(id: list.id), class: "btn" do %>
                            <i class="fa fa-edit text-secondary" aria-hidden="true"></i>
                        <% end %>
                        <%= link_to shuffle_list_path(id: list.id), method: :delete, data: { confirm: "削除しますか？" }, class: "btn" do %>
                            <i class="fa fa-trash text-secondary" aria-hidden="true"></i>
                        <% end %>
                    </div>
                    <h5 class="card-title"><%= list.name %></h5>
                    <ul>
                        <% list.shuffle_items.each do |item| %>
                        <li><%= item.name %></li>
                        <% end %>
                        <!--TODO: 3つまで表示させて他は隠す-->
                    </ul>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
